
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
  {% block content %}
  {%load static%}
  <header>
    <nav>
      <div>
        <ul class="nav-container">
          <a class="LOGO_img">
            <img src="{%static 'navLogo.jpg'%}">
          </a>
          <li class="nav-item">
            <a href="{% url 'movie.html' %}" class="nav-link">
              <img class="media" onclick="toggleImg()" id="img" src="{%static 'media.jpg'%}">
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'image.html' %}" class="nav-link">
              <img class="media" id="img" src="{%static 'event.jpg'%}">
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'settings.html' %}"  class="nav-link">
              <img class="media" id="img" src="{%static 'setting.jpg'%}">
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'inform.html' %}" class="nav-link">
              <img class="media" id="img" src="{%static 'inform.jpg'%}">
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'register.html' %}" class="nav-link">
              <img class="media" id="img" src="{%static 'register.jpg'%}">
            </a>
          </li>
          <li class="user_inform">
            <ul>
              <li>ID    :</li>
              <li>Serial:</li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <div class="container">


  </div>

  <script>
    function toggleImg() {
      var img1 = document.getElementById("img").src = "{%static 'clickmedia.jpg'%}";
    }
  </script>
</body>
{%endblock content%}
</html>